<h3>Here are all other Surveys</h3>
<% Survey.all.each do |survey| %>
  <% if survey.user_id != current_user.id %>
  <ul>
    <li><a href="surveys/<%= survey.id %>"><%= survey.title %></a></li>
    <% end %>
  </ul>
<% end %>