<form action="/surveys/:survey_id" method="post">
      <ul>
        <li><input type="radio" name="radio" value="Strongly Disagree>">Strongly Disagree</li>
        <li><input type="radio" name="radio" value="Disagree">Disagree</li>
        <li><input type="radio" name="radio" value="Neutral">Neutral</li>
        <li><input type="radio" name="radio" value="Agree">Agree</li>
        <li><input type="radio" name="radio" value="Strongly Agree">Strongly Agree</li>
      </ul>
    </form>
