<h3>Here are your Surveys</h3>
<% Survey.all.each do |survey| %>
  <% if survey.user_id == current_user.id %>
  <ul>
    <li><a href="surveys/<%= survey.id %>/results"><%= survey.title %></a></li>
    <% end %>
  </ul>
<% end %>