<h3>Create your Chimpenzee survey!</h3>
<div>
<p class="lead"></p>
    <form class="navbar-form" action="/surveys/new" method="post">
        <input class="form-control" type="text" name="title" placeholder="Title..." />
        <input class="form-control" type="text" name="description" placeholder="Description..." />
    </form>
</div>
<h3>Your filthy question!</h3>
<button id="new_question_button">New Question</button>
<div id="question_list">
  <div id="question_area">
    <form id="question_str" style="display:none"/>
      <input name="question_str" method="Post" placeholder="Your question right here"/>
      <br>

      <input class="question_button" type="submit" value="Submit Question" />
    </form>

  </div>
</div>
<p><input class="btn btn-lg btn-success" type="submit" value="Submit Survey" /></p>